<h1 id="tableLabel">Expecialidades</h1>

<p>Listados de Expecialidades Registradas:{{especialidades.length}}</p>
<div class="input-group">
  <input class="form-control" type="text" 
         placeholder="Search for..." 
         aria-label="Search for..." 
         aria-describedby="btnNavbarSearch" 
         
         (ngModel)="term" />
  
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a (click)="abrirmodal() " class="nav-link active">  Agregar</a>
  </li>
</ul>

<p *ngIf="!especialidades"><em>Cargando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="especialidades">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expec of especialidades | filter: term">
      <td>{{ expec.descripcion }}</td>
      <td>
        <button class="btn btn-primary" (click)="abrirmodaledit(expec);">Editar</button>
      </td>
      <!-- <td><button class="btn btn-danger" (click)=" delete(expec);">Eliminar</button></td> -->

    </tr>
  </tbody>
</table>
<!-- <pagination-controls [maxSize]="maxSize"
                                   [directionLinks]="directionLinks"
                                   [autoHide]="autoHide"
                                   [responsive]="responsive"
                                   [previousLabel]="labels.previousLabel"
                                   [nextLabel]="labels.nextLabel"
                                   [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                   [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                   [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                   (pageChange)="onPageChange($event)"></pagination-controls> -->