

<h1> Usuarios</h1>
<div class="input-group">
    <input class="form-control" type="text" 
           placeholder="Search for..." 
           aria-label="Search for..." 
           aria-describedby="btnNavbarSearch" 
           style="margin-bottom:5px; margin-left:-14px"
           (ngModel)="term" />
    
  </div>
  
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a (click)="abrirmodal() " class="nav-link active">  Agregar</a>
    </li>
  </ul>
  
  <p *ngIf="!Users"><em>No Hay Usuarios...</em></p>
  
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Users" width=100%>
    <thead>
      <tr>
        <th width=10%>Usuario  </th>
        <th width=10%>Rol      </th>
        <th width=40%>Nombre   </th>
        <th width=15%>Correo   </th>
        <th width=10%>Telefono </th>        
        <th width=10%>Opcion   </th>
      </tr>
    </thead>
  </table>
    <div id="div1">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Users" width=100%>
    <tbody>
      <tr *ngFor="let user of Users | filter: term   ">
        <td width=10%>{{ user.user }}</td>
        <td width=10%>{{ user.rol }}</td>
        <td width=40%>{{ user.persona }}</td>
        <td width=15%>{{ user.email }}</td>
        <td width=10%>{{ user.status }}</td>
        <td width=10%>
            <button class="btn btn-primary" (click)="abrirmodaledit(user);">Editar</button>
        </td>
         <!-- <td><button class="btn btn-danger" (click)=" cambiarclave(user);">Cambiar Clave</button></td>             -->
        
      </tr>
    </tbody>
  </table>
    </div>
 

 
   <!-- <pagination-controls [maxSize]="maxSize"
  [directionLinks]="directionLinks"
  [autoHide]="autoHide"
  [responsive]="responsive"
  [previousLabel]="labels.previousLabel"
  [nextLabel]="labels.nextLabel"
  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
  [screenReaderPageLabel]="labels.screenReaderPageLabel"
  [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
  (pageChange)="onPageChange($event)"></pagination-controls>   -->
   

