

<h1> Usuarios</h1>
<div class="input-group">
    <input class="form-control" type="text" 
           placeholder="Search for..." 
           aria-label="Search for..." 
           aria-describedby="btnNavbarSearch" 
           style="margin-bottom:5px; margin-left:-14px"
           (ngModel)="term" />
    
  </div>
  
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a (click)="abrirmodal() " class="nav-link active">  Agregar</a>
    </li>
  </ul>
  
  <p *ngIf="!Users"><em>No Hay Usuarios...</em></p>
  
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Users">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Rol</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Telefono</th>
        <!-- <th>Status</th> -->
        <th>Opcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users | filter: term   ">
        <td>{{ user.user }}</td>
        <td>{{ user.rol }}</td>
        <td>{{ user.persona }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
        <td>
            <button class="btn btn-primary" (click)="abrirmodaledit(user);">Editar</button>
        </td>
         <!-- <td><button class="btn btn-danger" (click)=" cambiarclave(user);">Cambiar Clave</button></td>             -->
        
      </tr>
    </tbody>
  </table>
  

 
   <!-- <pagination-controls [maxSize]="maxSize"
  [directionLinks]="directionLinks"
  [autoHide]="autoHide"
  [responsive]="responsive"
  [previousLabel]="labels.previousLabel"
  [nextLabel]="labels.nextLabel"
  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
  [screenReaderPageLabel]="labels.screenReaderPageLabel"
  [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
  (pageChange)="onPageChange($event)"></pagination-controls>   -->
   

