<h2>Agregar una Tanda</h2>
<div >
  <form novalidate (ngSubmit)=" grabar();" [formGroup]="formGroup">
    <!-- <div class="card card-bordered style-primary"> -->
      <div class="card-head">
        <header></header>
      </div>
      <div class="card-body style-default-bright">
        <div class="form-row">
          <div class="form-group ">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" required formControlName="descripcion" />
          </div>
        </div>
        </div>  
      <!-- <div class="card-actionbar style-default-bright"> -->
        <div class="card-actionbar-row">
          <!-- <button class="btn ink-reaction btn-raised btn-primary" type="submit" style="float:right;"
            [disabled]="!formGroup.valid">Grabar</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a mat-dialog-close style="float: right; margin-right: 5px;" (click)="cancelar()" class="btn ink-reaction btn-raised btn-danger">Cancelar</a> -->
          <div class="text-center pt-1 mb-5 pb-1">
            <div class="d-grid gap-2">
             <button class="btn btn-success btn-block mb-3" [disabled]="!formGroup.valid" type="submit"> Grabar</button>
             <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()"  >Cancelar</button>
            </div>
          </div>
        </div>
        <br/>
      <!-- </div> -->
    <!-- </div> -->
  </form>
</div>
<mat-dialog-actions>
</mat-dialog-actions>
