.aconsulta{
    background-color: rgb(248, 248, 165) !important; 
    font-weight: bold; 
    color: rgb(8, 2, 90);
}
.enconsulta{
    background-color: rgb(131, 241, 131) !important; 
    font-weight: bold; 
    color: rgb(8, 2, 90);
}