<h2>Generar Turno</h2>
<div  [formGroup]="formGroup">

        
        <div class="form-group ">
          
          <div class="card-body style-default-bright" >
            <label for="doctor">Doctor : </label>
            <input type="text" class="form-control" id="doctor" formControlName="doctor" readonly/>   
          </div>
          
             <div class="card-body style-default-bright" >
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label >Paciente</label>
                       
                    </div> 
                    <div class="form-group col-md-4">
                        <a class="btn btn-primary" (click)="abribusquedapaciente()"> Buscar Paciente</a> 
                    </div>                                              
                </div>
              </div> 
              <div class="form-group ">

                <label >Record</label>                
                <input type="text" class="form-control" id="record" formControlName="record" readonly/>

                <label >Nombres</label>
                <input type="text" class="form-control" id="id" formControlName="id" required style="display: none;"/>
                <input type="text" class="form-control" id="nombres" formControlName="nombres" readonly/>
          
                <label >Apellidos</label>
                <input type="text" class="form-control" id="apellidos" formControlName="apellidos" readonly/>

                <label >Numero Identificacion</label>
                <input type="text" class="form-control" id="numero_identificacion" formControlName="numero_identificacion"  readonly />         
              </div>   
              <div class="card-body style-default-bright" >
                <div class="form-row">
                                                        
                
                <div class="form-group col-md-4">
                  <label >Valor Cobrar</label> 
                    <input type="text" class="form-control" id="valor" formControlName="valor" readonly />
                  
                  <label >Cobrado</label> 
                  <input type="text" class="form-control" id="cobrado" formControlName="cobrado" required />
                </div>
                </div>                  
              </div>
                      
           </div>
                  
    
  
</div>
<mat-dialog-actions>        <div class="card-actionbar-row">
  <button class="mat-raised-button mat-primary" (click)="grabar()" type="submit" style="float:right;"
    [disabled]="!formGroup.valid">Grabar</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a mat-dialog-close style="float: right; margin-right: 5px;" (click)="cancelar()" class="btn ink-reaction btn-raised btn-danger">Cancelar</a>
</div>
</mat-dialog-actions>